<h1 id="list_of_programs_header">List of programs</h1>
<%= link_to 'New Program', new_program_path %>

<table>
  <tr>
    <th id="program_name_header">Program name</th>
    <th id="program_description_header">Description</th>
    <th colspan="3"></th>
  </tr>

  <% @programs.each do |program| %>
    <tr>
      <td id='<%= program.program_name %>'><%= program.program_name %></td>
      <td id='<%= program.program_name %>_description'><%= program.description %></td>
      <td><%= link_to 'Show', program_path(program) %></td>
      <td><%= link_to 'Edit', edit_program_path(program) %></td>
      <td><%= link_to 'Delete', program_path(program), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', new_program_path %>
