<%= link_to 'Program List', programs_path %>
<%= link_to 'Edit', edit_program_path(@program) %>

<p>
  <strong>Program name:</strong>
  <%= @program.program_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Exercises:</strong>
  <% if @program.exercises.any? %>
    <% @program.exercises.each do |exercise| %>
      <%= exercise.exercise_name %>
    <% end %>
  <% end %>
</p>
