
<p>
  <strong>Exercise name:</strong>
  <%= @exercise.exercise_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<%= link_to 'Create another new exercise', new_exercise_path %>
<%= link_to 'Exercise List', exercises_path %>
<%= link_to 'Edit', edit_exercise_path(@exercise) %>
